<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                <div class="container mx-auto">
                    <div
                        class="bg-white overflow-hidden shadow-xl sm:rounded-lg"
                    >
                        <div
                            class="max-w-2xl px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800"
                        >
                            <div
                                class="flex items-center justify-between"
                            ></div>

                            <div class="mt-2">
                                <a
                                    href="#"
                                    class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline"
                                    >Welcome To Bamri</a
                                >
                                <p
                                    class="mt-2 text-gray-600 dark:text-gray-300"
                                >
                                    Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit. Tempora expedita dicta
                                    totam aspernatur doloremque. Excepturi iste
                                    iusto eos enim reprehenderit nisi, accusamus
                                    delectus nihil quis facere in modi ratione
                                    libero!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Welcome from "@/Jetstream/Welcome";

export default {
    components: {
        AppLayout,
        Welcome,
    },
};
</script>
