<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Order Management
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <button
                    @click="openModal()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3"
                >
                    Add Order Item
                </button>
                <table
                    class="table-fixed w-full text-center rounded-sm bg-white"
                >
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2">Contact Name</th>
                            <th class="px-4 py-2">Start Rent Date</th>
                            <th class="px-4 py-2">Total Rent Days</th>
                            <th class="px-4 py-2">Bus Plat Number</th>
                            <th class="px-4 py-2">Bus Brand</th>
                            <th class="px-4 py-2">Driver</th>
                            <th class="px-4 py-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in order" :key="item.id">
                            <td class="border px-4 py-2">
                                {{ item.contact_name }}
                            </td>
                            <td class="border px-4 py-2">
                                {{ item.start_rent_date }}
                            </td>
                            <td class="border px-4 py-2">
                                {{ item.total_rent_days }}
                            </td>
                            <td class="border px-4 py-2">
                                {{ item.bus.plat_number }}
                            </td>

                            <td class="border px-4 py-2">
                                {{ item.bus.brand }}
                            </td>
                            <td class="border px-4 py-2">
                                {{ item.driver.name }}
                            </td>

                            <td class="border px-4 py-2">
                                <button
                                    @click="deleteRow(item.id)"
                                    class="bg-red-500 hover:bg-red-700 my-2 mx-2 text-white font-bold py-2 px-4 rounded"
                                >
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- modeal -->
                <div
                    class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400"
                    v-if="isOpen"
                >
                    <div
                        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
                    >
                        <div class="fixed inset-0 transition-opacity">
                            <div
                                class="absolute inset-0 bg-gray-500 opacity-75"
                            ></div>
                        </div>
                        <!-- This element is to trick the browser into centering the modal contents. -->
                        <span
                            class="hidden sm:inline-block sm:align-middle sm:h-screen"
                        ></span
                        >​
                        <div
                            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                            role="dialog"
                            aria-modal="true"
                            aria-labelledby="modal-headline"
                        >
                            <form>
                                <div
                                    class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4"
                                >
                                    <div class="container">
                                        <div class="mb-4">
                                            <label
                                                for="exampleFormControlInput1"
                                                class="block text-gray-700 text-sm font-bold mb-2"
                                                >Contact Name :</label
                                            >
                                            <input
                                                type="text"
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                id="exampleFormControlInput1"
                                                placeholder="Enter The Contact Name "
                                                v-model="form.contact_name"
                                                required
                                            />
                                        </div>
                                        <div class="mb-4">
                                            <label
                                                for="exampleFormControlInput1"
                                                class="block text-gray-700 text-sm font-bold mb-2"
                                                >Start Rent Days :</label
                                            >
                                            <input
                                                type="date"
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                id="exampleFormControlInput1"
                                                placeholder="Enter The Start Rent Day "
                                                v-model="form.start_rent_date"
                                                required
                                            />
                                        </div>
                                        <div class="mb-4">
                                            <label
                                                for="exampleFormControlInput1"
                                                class="block text-gray-700 text-sm font-bold mb-2"
                                                >Total Rent Days :</label
                                            >
                                            <input
                                                type="number"
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                id="exampleFormControlInput1"
                                                placeholder="Enter The Total Rent Day "
                                                v-model="form.total_rent_days"
                                                required
                                            />
                                        </div>
                                        <div class="mb-4">
                                            <label
                                                for="exampleFormControlInput1"
                                                class="block text-gray-700 text-sm font-bold mb-2"
                                                >Total Rent Days :</label
                                            >
                                            <select
                                                name="number"
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                placeholder="Enter The Contact Name "
                                                v-model="form.bus_id"
                                            >
                                                <option
                                                    v-for="data in bus"
                                                    :key="data.id"
                                                    :value="data.id"
                                                >
                                                    {{ data.plat_number }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label
                                                for="exampleFormControlInput1"
                                                class="block text-gray-700 text-sm font-bold mb-2"
                                                >Driver :</label
                                            >
                                            <select
                                                name="number"
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                placeholder="Enter The Contact Name "
                                                v-model="form.driver_id"
                                            >
                                                <option
                                                    v-for="data in driver"
                                                    :key="data.id"
                                                    :value="data.id"
                                                >
                                                    {{ data.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                                >
                                    <span
                                        class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto"
                                    >
                                        <button
                                            wire:click.prevent="store()"
                                            type="button"
                                            class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                            v-show="!editMode"
                                            @click="save(form)"
                                        >
                                            Save
                                        </button>
                                    </span>
                                    <span
                                        class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto"
                                    >
                                        <button
                                            wire:click.prevent="store()"
                                            type="button"
                                            class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                            v-show="editMode"
                                            @click="update(form)"
                                        >
                                            Update
                                        </button>
                                    </span>
                                    <span
                                        class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto"
                                    >
                                        <button
                                            @click="closeModal()"
                                            type="button"
                                            class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                        >
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
import AppLayout from "@/Layouts/AppLayout";
export default {
    components: {
        AppLayout,
    },
    props: ["order"],
    data: () => {
        return {
            // state
            editMode: false,
            isOpen: false,
            form: {
                contact_name: null,
                start_rent_date: null,
                total_rent_days: null,
                bus_id: null,
                driver_id: null,
            },
        };
    },
    methods: {
        // if modal open
        openModal: function () {
            this.isOpen = true;
        },
        // if modal close
        closeModal: function () {
            this.isOpen = false;
            this.reset();
            this.editMode = false;
        },
        // reset form
        reset: function () {
            this.form = {
                name: null,
                age: null,
            };
        },
        // save action
        save: function (data) {
            this.$inertia.post("/driver", data).then(() => {
                window.location.reload();
                this.reset();
                this.closeModal();
                this.editMode = false;
            });
        },

        // delete action
        deleteRow: function (data) {
            if (!confirm("Are you sure want to remove?")) return;
            this.$inertia.delete("/order/" + data).then(() => {
                window.location.reload();
                this.reset();
                this.closeModal();
            });
        },
    },
};
</script>
